## Build outputs
**/bin/
**/obj/

## IDE / editor
.vs
.idea
*.user
*.suo
*.userosscache
*.sln.docstates

## Package managers / JS tooling
node_modules/
BTL-Web/appsettings.Development.json

## Optional local configuration
# Uncomment if you want to keep local dev settings untracked
# appsettings.Development.json


